@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'norse';
    src: url("./font/Norse.otf") format("opentype");
}
@font-face {
    font-family: 'bahn';
    src: url("./font/BAHNSCHRIFT.TTF") format("truetype");
}